<%- include("../partials/admin-header")%>
<link rel="stylesheet" type="text/css" href="/path/to/your/styles.css">
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img href="/admin/adminDashboard" src="/adminAssets/imgs/theme/logo.png" class="logo" alt="EdX Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
          <ul class="menu-aside">

            <li class="menu-item ">
                <a class="menu-link" href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/admin/course-list"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Courses</span>
                </a>
            </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/category-list"> <i class="icon material-icons md-category"></i>
                      <span class="text">Category</span> </a>
              </li>

              <li class="menu-item">
                  <a class="menu-link" href="/admin/user-manage"> <i class="icon material-icons md-person"></i>
                      <span class="text">Users</span>
                  </a>
              </li>

              <li class="menu-item">
                  <a class="menu-link" href="/admin/order-list"> <i class="icon material-icons md-shopping_cart"></i>
                      <span class="text">Orders</span>
                  </a>
              </li>

              <li class="menu-item">
                  <a class="menu-link" href="/admin/coupon-list"> <i class="icon material-icons md-local_offer"></i>
                      <span class="text">Coupons</span>
                  </a>
              </li>
              <li class="menu-item">
                <a class="menu-link" href="/admin/admin-creatormanage"> <i class="icon material-icons md-person"></i>
                    <span class="text">Creators</span>
                </a>
            </li>
              <li class="menu-item active">
                  <a class="menu-link" href="/admin/sales-report"> <i class="icon material-icons md-assessment"></i>
                      <span class="text">Sales Report</span>
                  </a>
              </li>
          </ul>
          <hr>
          <ul class="menu-aside">
             </ul>
          <br>
          <br>
      </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
              <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
              <ul class="nav">
                  
                  <li class="nav-item">
                      <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                  </li>

                  <li class="dropdown nav-item">
                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminAssets/imgs/people/profilepicture.jpg" alt="User"></a>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                          <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
        </header>
        <!-- Include your other HTML and styling here -->

        <section id="printSection" class="content-main">
            <div class="content-header">
                <!-- <h3 class="content-title">Sales Report</h3> -->
                
            </div>
            <div class="card mb-4">
                <header class="card-header" style="background-color: white;">
                    
                    <form id="dateFilterForm" method="post" action="/admin/filter-sales">
                    <div class="row d-flex align-items-center col-lg-12">
                        <div class="col-md-5   justify-content-center">
                            <label for="startDate">Start Date:</label>
                            <input class="form-control " type="date" id="startDate" name="startDate">
                        </div>
                    
                        <div class="col-md-5 justify-content-center">
                            <label for="endDate">End Date:</label>
                            <input class="form-control" type="date" id="endDate" name="endDate">
                        </div>
                    
                        <div class="col-md-2 d-flex justify-content-end">
                            <button class="btn btn-sm mt-30"  type="submit">Apply Filter</button>
                        </div>
                    </div> 
                    </form>

                </header>
                <div class="card-body col-12">
                    <h3 class="text-center mt-10" style="text-align: center; 
                    margin-bottom: 20px; ">Sales Report</h3>
                    <table class="table" id="salesReport" style="width: 100%; 
                    border-collapse: collapse; 
                    margin-bottom: 20px; ">
                        <thead>
                            <tr>
                                <th style="border: 1px solid #cccccc; 
        padding: 8px; 
        text-align: center; ">Order ID</th>
                                <th style="border: 1px solid #cccccc; 
        padding: 8px; 
        text-align: center; ">Ordered At</th>
                                <th style="border: 1px solid #cccccc; 
       padding: 8px; 
        text-align: center; ">Payment Status</th>
                                <th style="border: 1px solid #cccccc; 
       padding: 8px; 
        text-align: center; ">Total Amount</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% if (orderData && orderData.length > 0) { %>
                            <% orderData.forEach(order => { %>
                                <tr>
                                <td style="border: 1px solid #cccccc; 
        padding: 8px; 
        text-align: center; "><%= order._id %></td>
                                <td style="border: 1px solid #cccccc; 
        padding: 8px; 
        text-align: center; "><%= order.createdAt.toLocaleDateString() %></td>
                                <td style="border: 1px solid #cccccc; 
        padding: 8px; 
        text-align: center; "><%= order.paymentStatus %></td>
                                <td style="border: 1px solid #cccccc; 
        
        padding: 8px; 
        text-align: center; ">Rs <%= order.totalAmount.toFixed(0) %></td>
                                
                                </tr>
                            <% }); %>
                            <% }  else { %>
                            <tr>
                                <td colspan="6"><h6 class="text-center p-3" >No orders available</h6></td>
                            </tr>
                            <% } %>
                        </tbody>  
                    </table>
                    
                </div>
            </div>
            <!-- print -->
            <div class="row d-flex align-items-center col-lg-12">
                <div class="col-md-12 d-flex justify-content-center">
                    <a href="#" class="btn btn-primary mt-1" style="background-color: brown;" onclick="printTable('printSection')">Print Pdf</a> &nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn btn-primary mt-1" style="background-color: brown;" onclick="downloadCSV()">Download CSV</a>
                </div>
            </div>
        </section>


<style media="print">
    h3 { 
        text-align: center; 
        margin-bottom: 20px; 
    }

    #salesReport { 
        width: 100%; 
        border-collapse: collapse; 
        margin-bottom: 20px; 
    }

    #salesReport th, #salesReport td { 
        border: 1px solid #cccccc; 
        padding: 8px; 
        text-align: center; 
    }

    #salesReport th { 
        background-color: #f2f2f2; 
    }

    #print-button { 
        display: none; /* Hide the print button when printing */
    }
</style>

<!-- csv file download -->

<script>
//   csv download
    function downloadCSV() {
        var csvContent = "data:text/csv;charset=utf-8,";
        var rows = document.querySelectorAll('#salesReport tbody tr');

        // Add header row
        var header = Array.from(rows[0].querySelectorAll('td, th')).map(cell => cell.innerText);
        csvContent += header.join(',') + '\n';

        // Add data rows
        rows.forEach(row => {
            var rowData = Array.from(row.querySelectorAll('td')).map(cell => cell.innerText);
            csvContent += rowData.join(',') + '\n';
        });

        // Create a data URI and trigger download
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "sales_report.csv");
        document.body.appendChild(link);
        link.click();
    }

    // pff download

    function printTable(sectionId) {
              var printWindow = window.open('', '_blank');
              var tableToPrint = document.getElementById(sectionId).querySelector('.card-body').outerHTML;
          
              // Opening the print window
              printWindow.document.open();
              printWindow.document.write('<html><head><title>Print</title>');
          
              // Including necessary styles (you may need to adjust the paths)
              printWindow.document.write('<link rel="stylesheet" type="text/css" href="/path/to/your/styles.css">');
          
              // Closing the head and opening the body
              printWindow.document.write('</head><body>');
          
              // Writing the table HTML to the print window
              printWindow.document.write(tableToPrint);
          
              // Closing the body and the HTML
              printWindow.document.write('</body></html>');
              printWindow.document.close();
          
              // Wait for the content to be fully loaded before printing
              printWindow.onload = function () {
                printWindow.print();
                printWindow.onafterprint = function () {
                  printWindow.close();
                };
              };
            }
</script>

  

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                
                <div class="col-sm-6">
                   
                </div>
            </div>
        </footer>
    </main>
    <script src="/adminAssets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminAssets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminAssets/js/vendors/select2.min.js"></script>
    <script src="/adminAssets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminAssets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminAssets/js/main.js" type="text/javascript"></script>
</body>


<%- include("../partials/admin-footer")%>